@import "tailwindcss";

@theme {
  --color-primary: #f8e42d;
  --color-primary-hover: #5A7AEF;
  --color-primary-light: rgb(107 138 255 / 0.1);

  --font-sans: 'IBM Plex Sans';
  --default-font-family: var(--font-sans);
}

* {
  font-family: 'IBM Plex Sans' !important;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: #ffffff;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}